@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="menu">
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
        <tr>
            <td>Man 04</td>
            <td>Lagne</td>
            <td>Ostemad</td>
        </tr>
        <tr>
            <td>Tir 05</td>
            <td>Græskarsuppe</td>
            <td>Æggemad</td>
        </tr>
        <tr>
            <td>Ons 06</td>
            <td>Steak og fritter</td>
            <td>Yoghurt</td>
        </tr>
    </table>
</div>

