@page "/Kontakt"
@model Kontakt
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div class="menu">
    <table>
        <tr>
            <th>Navn</th>
            <th>Mail</th>
            <th>Telefonnummer</th>
        </tr>
        <tr>
            <td>Karen Nielsen</td>
            <td>Karen@kantine.dk</td>
            <td>+4560698878</td>
        </tr>
    </table>
</div>

